<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <h2 class="widget-title"><b>关于我</b></h2>
    <div class="widget">
 <front size="3"><b>邮箱</b>：liangzelang@gmail.com<br>
 <b>现状</b>： 目前北京理工大学模式识别硕士在读，2018年毕业。个人喜欢图像处理、计算机视觉、机器学习等领域。我的<a href="http://oapeb119y.bkt.clouddn.com/%E9%99%84%E4%BB%B6%E4%BA%8C%EF%BC%9A%E4%B8%AA%E4%BA%BA%E7%AE%80%E5%8E%86.pdf">个人简历</a></front>
    </div>
  </div>
<% } %>
